.product{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-weight: 400;
    padding: 15px;
    width: 23%;
    margin-bottom: 20px;
    margin-right: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    border-radius: 8px;
}
.products__item__img{
    width: 100%;
    opacity: 0.95;
}
.product__title{
    font-weight: 500;
    line-height: 30px;
    font-size: 18px;
    white-space: nowrap;
    overflow-x: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
}
.product_panel{
    display: flex;
    justify-content: space-between;
}
.product__info{
    display: flex;
    flex-direction: column;
}
.product__group{
    font-size: 16px;
}
.product__price{
    font-size: 18px;
    color: black;
    margin: 6px 0px 12px 0px;
}